---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little bit of an introduction"
	pubDate={new Date('February 26 2024')}
	heroImage="/pullman-scenery.jpg"
>
	<p>
		Hello! I am a software engineer based in Pullman, WA at Schweitzer Engineering Labs.
		By trade I am a full stack software engineer, but what interests me the most about computer
		science is the topics of functional programming, machine learning, and type systems. I was
		fortunate enough to land a job where I do functional programming in <a href="https://www.purescript.org/">PureScript</a>
		for 40 hours a week with some very smart coworkers, so this is where the bulk of my
		expertise in things I actually care about lies. 
	</p>

	<p>
		As for hobbies, I like learning new things, doing Wado-Ryu Karate, and spending time with
		friends.
	</p>
</Layout>
