---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello Internet Traveler!</h1>
			<p>
				After traversing the internet, your <code>GET</code> request to my website has successfully
				been responded to with this content, and here you have some weirdo rambling
				about the process of it getting to your internet connected device.
				Well, I'll quit rambling!
			<p>
			<p>
				You have reached my blog, where I post about all things that
				interest me, or things that I randomly decide to want to talk about. This
				can be a broad range of topics - but will typically be limited to thoughts I
				have, things I am interested in/currently doing, and the like.
			</p>
			<p>
				The reason why I am using a blog over some social media like Facebook or
				Instagram is that I like to have more control over what I post than something 
				like Facebook or Instagram typically allows. There are a lot of issues with Facebook,
				what with all the advertisements, censorship and lack of control over what you post.
				Why not use the open web the way it was meant to be, forgo the single page applications
				(SPAs) and self-host?
			</p>
		</main>
		<Footer />
	</body>
</html>
