---
import ThemeToggle from './ThemeToggle.astro';
---
<header
  class="fixed top-0 inset-x-0 w-full z-50
         bg-white/5 dark:bg-white/5
         backdrop-blur-md backdrop-saturate-150
         px-6 py-4"
>
  <div class="mx-auto flex justify-end">
    <ThemeToggle />
  </div>
</header>
