---
import ThemeToggle from './ThemeToggle.astro';
---
<header
  class="fixed top-0 inset-x-0 w-full z-50 
         bg-white/20 dark:bg-gray-900/20
         backdrop-blur-xl backdrop-saturate-150
         border-b border-white/30 dark:border-gray-800/30
         px-6 py-2"
>
  <div class="mx-auto flex justify-end">
    <ThemeToggle client:load />
  </div>
</header>
