---
import './Hero.css'

const { heading, subtitle, imageLink } = Astro.props;

const subtitleHtml = subtitle.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>');
---
<section
    class="hero"
>
    <header class="header">
        <img src={imageLink} style="max-height: 400px;" />
        <h2 class="title">{heading}</h2>
        <h3 class="subtitle" set:html={subtitleHtml}></h3>
    </header>
</section>
